<div class="booking-content">
    <div class="booking-header">
        <h2>Booking n°<%= @booking.id %></h2>
        <p><%= @booking.created_at.strftime("%d/%m/%Y")  %></p>
    </div>
    <div class="zeppelin-info">
        <div class="zeppelin-info-text">
            <h3>Zeppelin</h3>
            <p><%= @booking.zeppelin.name %></p>
            <p>Location: <%= @booking.zeppelin.location %></p>
            <h3>Owner</h3>
            <p>Name: <%= @booking.zeppelin.user.name %></p>
            <p>Email: <%= mail_to @booking.zeppelin.user.email %></p>
            <h3>Booking Date</h3>
            <p><%= @booking.booking_date.strftime("%d/%m/%Y") %></p>

            <h3>Renter</h3>
            <p>Name: <%= @booking.user.name %></p>
            <p>Send an e-mail: <%= mail_to @booking.user.email %></p>
        </div>
        <%= cl_image_tag @booking.zeppelin.photo.key, crop: :scale,class:'booking-img' if @booking.zeppelin.photo.attached? %>
        <%= link_to 'Delete Booking', booking_path(@booking),
         method: :delete,
        data: { confirm: "Are you sure?" },class:'delete-booking'  %>
    </div>
</div>
