<div class="dashboard">
  <div class="side-bar">
    <h2>My profile</h2>
    <div class="user-name">
      <h3>Name</h3>
      <p><%=@user.name%></p>
    </div>
    <div class="user-email">
      <h3>Email</h3>
      <p><%= @user.email %></p>
    </div>
  </div>
  <div class="dash-info">
    <h2>My Bookings</h2>
    <% if @user.bookings[0] %>
      <div class="dash-booking">
        <% @user.bookings.each do |booking| %>
        <%= render 'bookings/card', booking: booking %>
        <% end %>
      </div>
    <% else %>
      <div class="dash-booking">
        <%= link_to zeppelins_path do %>
          <div class="zeppelin-add">
            <h3>New Booking</h3>
          </div>
        <% end %>
      </div>
    <% end %>
    <h2>My zeppelin</h2>
    <div class="dash-booking">
      <% @user.zeppelins.each do |zeppelin| %>
      <%= render 'zeppelins/card', zeppelin: zeppelin %>
      <% end %>
      <%= link_to new_zeppelin_path do %>
      <div class="zeppelin-add">
        <h3>Add a zeppelin</h3>
        <span>+</span>
      </div>
    <% end %>
    </div>
  </div>

</div>
