<div class="banner">
  <%= form_for :search, url: zeppelins_path, method: 'get' do |f| %>
  <div class="form-group">
    <%= f.text_field :location, class:'form-control input search', placeholder:'Search by location' %>
    <%= f.submit 'Search', class:' btn btn-danger input-2'%>
  </div>
  <% end %>
  <%= link_to 'See all the zeppelins', zeppelins_path, class: 'btn btn-danger' %>
</div>
<div class="container">
  <h1>Trending</h1>
  <%= render 'zeppelins/list', zeppelins:  @zeppelins %>
</div>
