<div class="container">
  <div class="zeppelin-photo" style="background-image: url(<%= cl_image_path @article.photo.key, height: 300, width: 400, crop: :fill if @article.photo.attached? %> );">
  <h1>
    <%= @zeppelin.name %>
  </h1>
  </div>
  <h2>Informations</h2>
  <div class="informations">
    <div class="text-infos">
    <p>Zeppelin name : <%= @zeppelin.name %></p>
    <p>Zeppelin location : <%= @zeppelin.location %></p>
    <p>Zeppelin price per day : <%= @zeppelin.price %> €</p>
    <% if @zeppelin.start_date.day < @zeppelin.end_date.day %>
      <p>Book this zeppelin between the <%= @zeppelin.start_date.day %> and the <%= @zeppelin.end_date.day %> of <%= @zeppelin.end_date.strftime("%B") %></p>
    <% else %>
      <p>Book this zeppelin between <%= @zeppelin.start_date.day %> of <%= @zeppelin.start_date.strftime("%B") %> and the <%= @zeppelin.end_date.day %> of <%= @zeppelin.end_date.strftime("%B") %></p>
    <% end %>
    </div>
    <div class="map">
      <p>map?</p>
    </div>
  </div>
  <div class="book-button">
    <%= link_to "Book now", new_zeppelin_booking_path(@zeppelin), class: 'btn btn-primary'  %>
  </div>
</div>
